<!-- views/partials/navbar.ejs -->
<nav>
  <ul>
    <li><a href="/home">Página inicial</a></li>
    <li><a href="/show-images">Galería de Imágenes</a></li>
    <li><a href="/new-image">Añadir Imagen</a></li>
    <li><a href="/auth/google">Iniciar sesión</a></li>
     <li><a href="/logout">Cerrar sesión</a></li>
     <form action="/show-images" method="get" style="display:inline;">
    <input type="text" name="search" placeholder="Buscar...">
    <button type="submit">Buscar</button>
  </form>
  </ul>
</nav>