<!-- views/partials/navbar.ejs -->
<nav>
  <ul>
    <li><a href="/show-images">Mostrar Imágenes</a></li>
    <li><a href="/new-image">Añadir Imagen</a></li>
    <form action="/show-images" method="get" style="display:inline;">
    <input type="text" name="search" placeholder="Buscar por título">
    <button type="submit">Buscar</button>
  </form>
  </ul>
</nav>