<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new image</title>
</head>
<body>
    <form  action="/new-image" method="post">
        <label for="title">Título: </label>
<input type="text" name="title" id="title">
      <label for="URL">URL: </label>
<input name="URL" id="URL"></input>
<input type="submit"> Añadir imagen </input>
    </form>
</body>
</html>